.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  background-color: #f0f0f0;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  height: auto;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #fff;
  border-radius: 5px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 20px 40px;
  display: grid;
  box-shadow: 0 0 25px #0000001a;
}

.part1 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
}

.body {
  color: #000;
  font-family: Montserrat, sans-serif;
}

.tittle {
  line-height: 1.3em;
  text-decoration: underline;
}

.pink {
  color: #ff6b85;
}

.part2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
}

.lists {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
}

.list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.underline {
  text-decoration: underline;
}

.button {
  text-align: center;
  background-color: #007bff;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 60px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 0 10px #0003;
}

.image {
  border-radius: 5px;
}

.image.mb {
  display: none;
}

.footer-section {
  background-color: #333;
}

.footer {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.footer-links {
  color: #fff;
  font-size: 18px;
  line-height: 1em;
  text-decoration: underline;
}

.links {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph {
  color: #fff;
}

.all-rights {
  color: #fff;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .tittle {
    text-align: center;
    font-size: 30px;
  }

  .icon {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
  }

  .button {
    margin-left: 0;
    margin-right: 0;
  }

  .image.mb {
    display: block;
  }

  .image.pc {
    display: none;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }

  .grid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lists {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .links {
    flex-flow: wrap;
  }
}


